<div class="container">
    <form [formGroup]="formAyuda" (ngSubmit)="onEnviarSolicitud()">
        <div class="row">
            <div class="col-lg-6">
                <nb-card>
                    <nb-card-header>
                        <h3>Nueva solicitud de Ayuda</h3>
                    </nb-card-header>
                    <nb-card-body>
                        <span>Algunos de nuestros donantes revisar&aacute; su solicitud y vera la forma de brindarle
                            colaboracion</span>
                        <span>Importante aclarar que las ayudas son en productos como: arroz, az&uacute;car, etc.</span>
                        <br />
                        <br />

                        <div class="form-group"  >
                            <label for="txtNombreCompleto" class="label">Nombre Completo</label>
                            <input type="text" nbInput fullWidth name="nombre" maxlength="128"
                                [(ngModel)]="request.nombre" 
                                formControlName="nombre">
                            <div class="text-danger"
                                *ngIf="nombre.touched && !nombre.valid" >
                                <small>Requerido</small></div>
                        </div>

                        <div class="form-group">
                            <label for="txtDireccion" class="label">Direcci&oacute;n</label>
                            <input type="text" nbInput fullWidth name="txtDireccion" maxlength="255"
                                [(ngModel)]="request.direccion" formControlName="direccion">
                                <div class="text-danger"
                                *ngIf="direccion.touched && !direccion.valid" >
                                <small>Requerido</small></div>
                        </div>

                        <div class="form-group">
                            <label for="txtProductosNecesita" class="label"> Qu&eacute; productos principalmente
                                necesita ?</label>
                            <input type="text" nbInput fullWidth name="txtProductosNecesita" maxlength="255"
                                [(ngModel)]="request.necesidad" formControlName="necesidad">

                                <div class="text-danger"
                                *ngIf="necesidad.touched && !necesidad.valid" >
                                <small>Requerido</small></div>
                        </div>
                        <div class="form-group">
                            <label for="txtNroCelular" class="label"> N&uacute;mero de Celular para contacto</label>
                            <input type="text" nbInput fullWidth name="txtNroCelular" maxlength="20"
                                [(ngModel)]="request.contacto" formControlName="contacto">
                                <div class="text-danger"
                                *ngIf="contacto.touched && !contacto.valid" >
                                <small>Requerido</small></div>
                        </div>
                        <div class="form-group">
                            <label for="txtNroDocumento" class="label"> Documento de Identidad</label>
                            <input type="text" nbInput fullWidth name="txtNroDocumento" maxlength="10"
                                [(ngModel)]="request.ci" formControlName="ci">

                                <div class="text-danger"
                                *ngIf="ci.touched && !ci.valid" >
                                <small>Requerido</small></div>
                        </div>

                        <div class="form-group">
                            <label for="txtImgDocumento" class="label">Imagen Documento Identidad</label>
                            <input #txtImgDoc type="file" fullWidth name="txtImgDocumento"
                                accept="image/x-png, image/gif, image/jpeg" data-max-size="2048"
                                (change)="onUploadFile($event)" formControlName="imagen">
                        </div>

                        
                    </nb-card-body>
                </nb-card>
            </div>

            <div class="col-lg-6">
                <nb-card>
                    <nb-card-header>
                        <h3>Ubicaci&oacute;n</h3>
                    </nb-card-header>
                    <nb-card-body>
                        <ngx-gmaps #gmap enableClick="true"></ngx-gmaps>
                    </nb-card-body>
                </nb-card>
            </div>


            <div class="form-group">
                <button type="submit" nbButton status="info" [disabled]="!formAyuda.valid && esImagenInValida">Enviar</button>
            </div>
            
        </div>

    </form>

</div>