@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;
  width: 100%;

  .img {
    width: 100%;
    display: flex;
  }

  .logo-container {
    padding: 2px 2px;
    display: flex;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  @media (max-width: 768px) {
    .btn-responsive {
      padding:2px 4px;
      font-size:92%;
      line-height: 1.8;
      border-radius:3px;
    }
  }


  

}
