<div style="background-color: grey;">
 
  <div class="column">
    
    <div class="validation-checkboxes">
      <h3 style="color: white;">Zonas que necesitan tu ayuda</h3>
      <nb-checkbox status="warning"><span style="color: white;"> Solicitudes de ayuda</span></nb-checkbox>
      <nb-checkbox status="warning"><span style="color: white;">Centros de Acopio</span></nb-checkbox>
      <nb-checkbox status="warning"><span style="color: white;">Zonas</span></nb-checkbox>
    </div>
  </div>
</div>
<ngx-gmaps></ngx-gmaps>
<!-- <nb-card>
    <nb-card-header>Google Maps</nb-card-header>
    <nb-card-body>
      <google-map [center]="position" [zoom]="8" width="100%" height="36.5625rem">
        <map-marker [position]="position"></map-marker>
      </google-map>
    </nb-card-body>
  </nb-card> -->